@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  min-height: 100%;
}

body {
  @apply text-slate-700;
}

.amber-gradient {
  background-color: rgb(217, 119, 6);
  background-image: radial-gradient(
      at 65% 32%,
      rgb(250, 204, 21) 0,
      transparent 100%
    ),
    radial-gradient(at 19% 63%, rgb(251, 146, 60) 0, transparent 82%),
    radial-gradient(at 2% 0%, rgb(126, 34, 206) 0, transparent 15%);
}
